.stApp {
    max-width: 1200px;
    margin: 0 auto;
}

.main-header {
    color: #0077B6;
    text-align: center;
    padding: 1rem 0;
}

.category-normal {
    color: #198754;
    font-weight: bold;
}

.category-overweight {
    color: #FFC107;
    font-weight: bold;
}

.category-obese {
    color: #DC3545;
    font-weight: bold;
}

.category-underweight {
    color: #0DCAF0;
    font-weight: bold;
}
